In [1]:
import math

In [2]:
math.ceil(2.4)

3

In [3]:
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [4]:
help(math.ceil)

Help on built-in function ceil in module math:

ceil(...)
    ceil(x)

    Return the ceiling of x as an Integral.
    This is the smallest integer >= x.

In [5]:
import foo.bar

ModuleNotFoundError: ignored

In [ ]:
from foo import bar

In [ ]:
__init__.py:
__all__=["bar"]

In [ ]:
try:
  f=open('testfile','w')
  f.write('Test write this')
except IOError:
    print("Error: Could Not Find File or Read Data")
else:
    print("Content Written Successfully!!")
    f.close()

In [ ]:
try:
  f=open('testfile','r')
  f.write('Test write this')
except IOError:
  print("Error: Could not find file or read data")
else:
  print("Content written Successfully")
  f.close()

In [ ]:
try:
  f=open('testfile','w')
  f.writeE('Test write this')
except:
  print("Error:Couldnt find file or read any data")
else:
  print("Content written successfully")
  f.close()

In [ ]:
try:
  f=open("testfile","w")
  f.write("Test Statement written")
finally:
  print("Always exceute finally code blocks")

In [ ]:
def askint():
  try:
    val=int(input("Please enter an integer:"))
  except:
    print("Looks like you did not enter an integer!!")
  finally:
    print("Finally,I Executed!!")
    print(val)

In [ ]:
askint()

In [ ]:
askint()

In [ ]:
def askint():
        try:
            value = int(input("Please Enter an Integer: "))
        except:
            print("I guess you did not Enter a Correct Integer!")
            value = int(input("Try again-Please enter a correct Integer: "))
        finally:
            print("Finally, I executed!")
        print(value)

In [ ]:
askint()

In [ ]:
def askint():
    while True:
        try:
            values = int(input("Please enter an integer: "))
        except:
            print("I guess you did not enter an integer!!")
            continue
        else:
            print('Hurray!! thats an integer!')
            break
        finally:
            print("YAYY, Its Done!")
        print(values)

In [ ]:
askint()

In [17]:
import sqlite3
db=sqlite3.connect("my_database1.db")
db.execute("drop table if exists grades1")
db.execute("create table grades1(Id int, name text, score int)")
db.execute("insert into grades1(Id , name, score) values(101, 'Jim',99 )")
db.execute("insert into grades1(Id , name, score) values(102, 'Jill',98 )")
db.execute("insert into grades1(Id , name, score) values(103, 'Jung', 97 )")
db.execute("insert into grades1(Id , name, score) values(104, 'juck', 96 )")
db.execute("insert into grades1(Id , name, score) values(105, 'jong',95 )")

In [22]:
db.commit()

In [21]:
results = db.execute("select * from grades1 order by Id ")
for row in results:
    print(row)
print("-" * 90 )

(101, 'Jim', 99)
(102, 'Jill', 98)
(103, 'Jung', 97)
(104, 'juck', 96)
(105, 'jong', 95)
------------------------------------------------------------------------------------------

In [20]:
results = db.execute("select * from grades1 where name = 'jim' ")
for row in results:
    print(row)
print("-" * 90 )

------------------------------------------------------------------------------------------

In [23]:
results = db.execute("select * from grades1 where score >= 95 ")
for row in results:
    print(row)
print("**" * 90 )

(101, 'Jim', 99)
(102, 'Jill', 98)
(103, 'Jung', 97)
(104, 'juck', 96)
(105, 'jong', 95)
************************************************************************************************************************************************************************************

In [24]:
results = db.execute("select name,id, score from grades1 order by score")
for row in results:
    print(row)

('jong', 105, 95)
('juck', 104, 96)
('Jung', 103, 97)
('Jill', 102, 98)
('Jim', 101, 99)

In [25]:
results = db.execute("select name, score from grades1 order by score")
for coloumn in results:
    print(coloumn)

('jong', 95)
('juck', 96)
('Jung', 97)
('Jill', 98)
('Jim', 99)